@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    }
main{
    display: block;
  
}
body{
    background-color:#b0e0e6 ;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    margin: 0 auto;
    padding: 4%;
    background-color: #66cdaa;
}
#header ul{
    display: flex;
    padding: 8px 0;
    margin-right:60px;
}
#header li{
    margin: 0 auto;
    font-size: 0.9rem;
    margin-left:30px;
    list-style: none;
}
#header li a{
    color:#000000;
    text-decoration: none;
}
.overlap{
    position: relative;/*親要素にrelative*/
}
.overlap p{
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    left: 50%;
   -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #fff;
    font-size: 3.6rem;
    margin: 0!important;/*文字がずれている場合や*/
    padding: 0!important;/*文字が折り返される場合*/
    text-decoration:underline; /* アンダーライン */
    font-family: serif;/* 明朝体 */
    background: #000;
    opacity: 0.7;/* 後ろの色付け */

}


.slider {
    margin: 30px auto 0;
    width: 80%;
}

.your-class img{
    margin: 0 auto;
    height: 50%;
    width: 90%;
    pointer-events: none; 
}
footer{
    background-color:#ffe4c4;
    height: 60%;
}
footer p{
    text-align: center;
}
.footer-menu-list{
    display: inline;
    padding: 10px 0;
    text-align: center;
}
.footer-menu-list li{
    font-size: 1rem;
    list-style: none;
    color:#000000;
    padding:10px 0;
}
.footer-menu-list li:hover{
 color: #ff0000;
}
.footer-menu-list a{
    text-decoration: none;
}



.explanation{
    margin-left:10px;
}
.explanation p{
    margin-left:10px;
}
.visual {
    background-color: #9f9f9f;
    margin-bottom: 60px;
   }